{
	"root" : {
		"Daemon" : false,
		"Relocators" : [
			{
				"Active" : true,
				"MaxProc": 20,
				"IntervalPoll": 3,
				"IntervalElapsed": 10,
				"Name" : "Company1",
				"NameSpace" : "Company1",
				"Class" : "Company1_Movies",
				"Destination" : "/tmp/dest",
				"Glob" : [
					"/tmp/incoming/*.mov",
					"/tmp/incoming/*.jpg"
				],
				"Relocate" : "/tmp/relocate.sh"
			},
			{
				"Active" : true,
				"MaxProc" : 5,
				"IntervalPoll" : 2,
				"IntervalElapsed" : 5,
				"Name" : "Company2",
				"NameSpace" : "Company2",
				"Class" : "Company2",
				"Destination" : "/tmp/dest",
				"Glob" : [
					"/tmp/incoming2/*.mov",
					"/tmp/incoming2/*.jpg"
				],
				"Relocate" : "/tmp/relocate2.sh"
			},
			{
				"Active" : false,
				"MaxProc" : 1,
				"IntervalPoll": 10,
				"IntervalElapsed" : 5,
				"Name" : "Company3",
				"NameSpace" : "Company3",
				"Class" : "Company3",
				"Destination" : "/tmp/dest",
				"Glob" : [
					"/tmp/incoming3/*.mov",
					"/tmp/incoming3/*.jpg"
				],
				"Relocate" : "/tmp/relocate3.sh"
			}
		]
	}
}
